.formal-messages { margin-bottom: 10px; margin-top: 10px; padding: 5px 35px; }
.formal-messages.formal-error { background: #fcd9ef url('../img/admin/x_alt.png') 5px no-repeat; }
.formal-highlight { background: #fcd9ef; }